.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card {
    padding: 0 25px;
}

.card-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}

.ngx-gallery {
    display: inline-block;
    margin-bottom: 20px;
}

.btn-sucess {
    background-color: #4582ec;
    color: white;
    /* Add more styles if needed */
  }

  .alert-info {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center; /* Optional: This centers the text horizontally */
    color: white; /* Optional: Set the text color */
    font-size: 18px; /* Optional: Adjust the font size as needed */
  }