/* Style for the table */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

/* Style for table headers */
th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 8px;
}

th:nth-child(3) {
  text-align: right;
  position: relative;
  left: -80px;
}

/* Style for table data cells */
td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* Style for buttons in the Actions column */
.btn-container {
  display: flex;
  justify-content: flex-end; /* Aligns the container to the right */
  gap: 10px;
  margin-right: 10px; /* Optional margin for spacing from the table cell */
}

.btn {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.btn-repeat {
  background-color: #4caf50;
  color: white;
}

.btn-delete {
  background-color: #f44336;
  color: white;
}
