<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">
        <img src="https://res.cloudinary.com/dbbfdycf0/image/upload/f_auto,q_auto/v1/logos/gmlaa8de9dhckvvqisyv" alt="logo" class="no-border" >
    </a>

        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <ng-container *ngIf="accountService.currentUser$ | async">
            <li class="nav-item" >
              <a class="nav-link" routerLink="/exams" routerLinkActive="active">Exams</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" routerLink="/results" routerLinkActive="active">Results</a>
            </li>
            <li *appHasRole="['Admin', 'Moderator']"  class="nav-item" >
              <a class="nav-link" routerLink="/admin" routerLinkActive="active" >Admin Panel</a>
            </li>
          </ng-container>
        </ul>

        <div class="btn-group" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
          <img src="{{user.photoUrl || defaultImageUrl}}" alt="user photo" class="with-black-border">
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
            Welcome {{user.username | titlecase}} <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu custom-dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" routerLink="/member/edit">My Profile</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
        </div>


        <button *ngIf="!loggedIn" class="custom-button" routerLink="/register" routerLinkActive="active">Sign Up</button>
        <button *ngIf="!loggedIn" class="custom-button" routerLink="/login" routerLinkActive="active">Login</button>
      </div>
  </nav>
